.question-form {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 14px;
  height: min-content;
}

.question-form hr {
  width: 100%;
  color: var(--NexGen-Dark-15);
}

.question-form h4 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.question-form form {
  display: flex;
  flex-direction: column;
}

.question-form label {
  margin-bottom: 10px;

  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.question-form input {
  margin-bottom: 20px;
  width: 100%;
  height: 75px;
  outline: none;
  border: none;
  background-color: var(--NexGen-Black);
  border-radius: 10px;
  padding: 24px;

  color: var(--NexGen-White);

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.question-form input::placeholder {
  color: var(--NexGen-Grey-40);
}

textarea {
  margin-bottom: 50px;
  width: 100%;
  height: 75px;
  outline: none;
  border: none;
  background-color: var(--NexGen-Black);
  border-radius: 10px;
  padding: 24px;

  color: var(--NexGen-White);

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.question-submit-button {
  background-color: var(--NexGen-Orange-60);
  height: 63px;
  outline: none;
  border: none;
  transition: 200ms;
  border-radius: 12px;

  font-weight: 500;
  font-style: Medium;
  font-size: 18px;

  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.question-submit-button:hover {
  transition: 200ms;
  background-color: var(--NexGen-White);
  cursor: pointer;
}
