.question-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question {
  border-radius: 16px;
  padding: 45px 60px;
}

.open {
  padding: 53px 60px;
}

.question-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.prompt {
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

.answer {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);

  padding-top: 30px;
  border-top: 1px solid var(--NexGen-Dark-15);
  width: calc(100% - 90px);
}

.prompt-active {
  margin-bottom: 30px;
}

@media (max-width: 1536px) {
  .question {
    border-radius: calc(16px * 0.8);
    padding: calc(45px * 0.8) calc(60px * 0.8);
  }

  .open {
    padding: calc(53px * 0.8) calc(60px * 0.8);
  }

  .question-list {
    gap: calc(20px * 0.8);
  }

  .prompt {
    font-size: calc(22px * 0.8);
  }

  .answer {
    font-size: calc(18px * 0.8);
    padding-top: calc(30px * 0.8);

    width: calc(100% - calc(90px * 0.8));
  }

  .prompt-active {
    margin-bottom: calc(30px * 0.8);
  }
}
