#contact {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.cta-section-container {
  padding: 60px;
  border-radius: 20px;
  background-color: var(--NexGen-Orange-60);
}

.cta-section-heading {
  font-weight: 500;
  font-style: Medium;
  font-size: 58px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 4px;

  color: var(--NexGen-Black);
}

.cta-section-lower {
  display: flex;
  justify-content: space-between;
}

.cta-section-subheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Dark-15);
  width: 1200px;
}

.cta-section-lower .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 64px;
  width: 13%;

  background-color: var(--NexGen-Black);
  border-radius: 12px;
  transition: 200ms;
}

.cta-section-lower .cta:hover {
  background-color: var(--NexGen-Dark-10);
  cursor: pointer;
  transition: 200ms;
}

.cta-section-lower .cta img {
  width: 28px;
  height: 28px;
}

.cta-section-lower .cta p {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: var(--NexGen-White);
}

.major-navigation-container {
  display: grid;
  grid-template-columns: 2.1fr 3fr;
  gap: 20px;
}

.socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.social-medium-card {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 337px;
  max-width: 364px;
}

.nav-and-copyright {
  display: grid;
  grid-template-rows: 16fr 9fr 6fr;
  gap: 20px;
}

.medium-top {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.social-medium-card-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-medium-card-text h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.social-medium-card-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

@media (max-width: 1536px) {
  .cta-section-container {
    padding: calc(60px * 0.8);
    border-radius: calc(20px * 0.8);
  }

  .cta-section-heading {
    font-size: calc(58px * 0.8);
    margin-bottom: calc(4px * 0.8);
  }

  .cta-section-subheading {
    font-size: calc(18px * 0.8);
    width: calc(1200px * 0.8);
  }

  .cta-section-lower .cta {
    gap: calc(10px * 0.8);
    height: calc(64px * 0.8);
    border-radius: calc(12px * 0.8);
  }

  .cta-section-lower .cta img {
    width: calc(28px * 0.8);
    height: calc(28px * 0.8);
  }

  .cta-section-lower .cta p {
    font-size: calc(18px * 0.8);
  }

  .major-navigation-container {
    gap: calc(20px * 0.8);
  }

  .socials-container {
    gap: calc(20px * 0.8);
  }

  .social-medium-card {
    border-radius: calc(14px * 0.8);
    padding: calc(40px * 0.8);
    height: calc(337px * 0.8);
    max-width: calc(364px * 0.8);
  }

  .nav-and-copyright {
    gap: calc(20px * 0.8);
    grid-template-rows: 16fr 8fr 6.5fr;
  }

  .social-medium-card-text {
    gap: calc(12px * 0.8);
  }

  .social-medium-card-text h3 {
    font-size: calc(30px * 0.8);
  }

  .social-medium-card-text p {
    font-size: calc(18px * 0.8);
  }
}
