#faq {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
}

.faq-heading-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;

  margin-bottom: 20px;
}

.more-questions-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.faq-bottom {
  display: grid;
  grid-template-columns: 40fr 31fr;
  gap: 20px;
}

@media (max-width: 1536px) {
  .faq-heading-container {
    padding: calc(50px * 0.8);
    border-radius: calc(16px * 0.8);
    margin-bottom: calc(20px * 0.8);
  }

  .more-questions-button-container {
    gap: calc(8px * 0.8);
  }

  .faq-bottom {
    gap: calc(20px * 0.8);
  }
}
