header {
  width: calc(100% - 3rem); /* always leave 1rem on each side */
  max-width: 1820px;
  height: 111px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 20px;
}

.header-logo-container {
  max-width: 130px;
  max-height: 24px;
}

.header-logo-container img {
  width: 100%;
  height: auto;

  margin-left: 26px;
}

.header-buttons-container {
  display: flex;
  gap: 16px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--NexGen-Black);
  border-radius: 12px;

  color: var(--NexGen-Grey-50);
  padding: 18px 24px 18px 24px;

  max-height: 63px;

  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: 200ms;
}

.header-button:hover {
  color: var(--NexGen-Grey-70);
  transition: 200ms;
}

.header-active {
  color: var(--NexGen-Orange-80);
}

.cta {
  background-color: var(--NexGen-Orange-60);
  color: var(--NexGen-Black);
}

.cta:hover {
  color: var(--NexGen-Black);
  background-color: var(--NexGen-White);
}

@media (max-width: 1536px) {
  header {
    height: calc(111px * 0.8);
    padding: calc(1.5rem * 0.8);
    margin-bottom: calc(20px * 0.8);
  }

  .header-logo-container {
    max-width: calc(130px * 0.8);
    max-height: calc(24px * 0.8);
  }

  .header-logo-container img {
    margin-left: calc(26px * 0.8);
  }

  .header-buttons-container {
    gap: calc(16px * 0.8);
  }

  .header-button {
    padding: calc(18px * 0.8) calc(24px * 0.8);
    max-height: calc(63px * 0.8);
    font-size: calc(18px * 0.8);
    border-radius: calc(12px * 0.8);
  }
}
