.hero-container {
  max-width: 1820px;
  margin: 0 auto;
}

.hero-top-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;

  height: 592px;
  max-height: 592px;
}

.about-container {
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-top: 100px;
  min-width: 0;
  height: 100%;
}

.about-headings-container {
  max-width: 1047px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about-subheading {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-40);

  margin-top: 16px;

  max-width: 90%;
}

.image-container {
  width: 100%;
  aspect-ratio: 593 / 465;
  position: relative;
  overflow: hidden;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.open-circle {
  height: 77px;
  width: 77px;
  margin-left: 18px;
}

.image-container svg {
  position: absolute;
}
