.hero-container {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin: 0 auto;
}

.hero-top-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;

  min-height: 0px;
  height: auto;

  margin-bottom: 20px;
}

.about-container {
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-top: 100px;
  min-width: 0;
  max-height: 100%;

  min-height: 0;
}

.about-headings-container {
  width: 100%;
  min-width: 0px;
  max-width: 1047px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about-subheading {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-40);

  margin-top: 16px;

  max-width: 90%;
}

.image-container {
  width: 100%;
  aspect-ratio: 593 / 465;
  position: relative;
  overflow: hidden;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.open-circle {
  height: 77px;
  width: 77px;
  margin-left: 18px;
}

.image-open-circle {
  height: 120px;
  width: 120px;
  margin: 15px 30px 0px 0px;
}

.image-svg-wrapper {
  position: absolute;
  width: 100%;
  max-width: 180px;
  min-width: 0px;

  height: 100%;
  max-height: 180px;
  min-height: 0px;

  background-color: var(--NexGen-Black);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  right: -5%;
  top: -5%;
}

.featured-product-description {
  min-height: 0px;
  max-height: 127px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 30px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.featured-product-description p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.featured-product:hover .image-container:hover + .featured-product-description,
.image-container:hover ~ .featured-product-description {
  background-color: var(--NexGen-Dark-12);
}

/* Hero bottom stuff */

.hero-bottom {
  border-radius: 20px;

  width: 100%;
  padding: 20px;

  min-height: 190px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.achievement {
  min-height: 0px;
  max-height: 150px;
  min-width: 0px;
  max-width: 280px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  border-radius: 14px;
}

.achievement-heading {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: var(--NexGen-Grey-70);
}

.achievement-amount {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  height: min-content;

  color: var(--NexGen-Orange-70);
}

@media (max-width: 1536px) {
  /* Hero top stuff */
  .hero-container {
    width: calc((100% - 3rem) * 0.8);
    max-width: calc(1820px * 0.8);
  }

  .hero-top-container {
    gap: calc(20px * 0.8);
    min-height: calc(592px * 0.8);
  }

  .about-container {
    padding: calc(20px * 0.8);
    padding-top: calc(100px * 0.8);
    border-radius: calc(20px * 0.8);
  }

  .about-headings-container {
    max-width: calc(1047px * 0.8);
    gap: calc(4px * 0.8);
  }

  .about-subheading {
    font-size: calc(18px * 0.8);
    margin-top: calc(16px * 0.8);
    max-width: calc(90% * 0.8);
  }

  .image-container {
    border-top-left-radius: calc(20px * 0.8);
    border-top-right-radius: calc(20px * 0.8);
  }

  .image-container img {
    border-top-left-radius: calc(20px * 0.8);
    border-top-right-radius: calc(20px * 0.8);
  }

  .image-svg-wrapper {
    max-width: calc(180px * 0.8);
    max-height: calc(180px * 0.8);
    right: calc(-5% * 0.8);
    top: calc(-5% * 0.8);
    border-radius: calc(100px * 0.8);
  }

  .open-circle {
    width: calc(77px * 0.8);
    height: calc(77px * 0.8);
    margin-left: calc(18px * 0.8);
  }

  .image-open-circle {
    width: calc(120px * 0.8);
    height: calc(120px * 0.8);
    margin: calc(15px * 0.8) calc(30px * 0.8) 0 0;
  }

  /* Hero bottom stuff */
  .hero-bottom {
    padding: calc(20px * 0.8);
    gap: calc(20px * 0.8);
    border-radius: calc(20px * 0.8);
  }

  .achievement {
    gap: calc(15px * 0.8);
    border-radius: calc(14px * 0.8);
  }

  .achievement-heading {
    font-size: calc(18px * 0.8);
  }

  .achievement-amount {
    font-size: calc(60px * 0.8);
  }

  .hero-bottom {
    min-height: calc(190px * 0.8);
    grid-template-columns: repeat(6, 1fr);
  }

  .achievement {
    max-width: calc(280px * 0.8);
    min-height: calc(150px * 0.8);
  }

  .achievement-heading {
    line-height: calc(150% * 0.8);
  }

  .achievement-amount {
    line-height: calc(100% * 0.8);
  }
}
