#projects {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
}

.projects-heading-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;

  margin-bottom: 20px;
}

.booking-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}

.project-left,
.project-right,
.project-center {
  border-radius: 14px;
}

.project-left {
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-left-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.project-left:hover .project-tag {
  background-color: var(--NexGen-Dark-15);
  transition: 200ms;
}
.tags-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  min-height: 47px;
  height: 100%;
  max-width: min-content;
  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--NexGen-Dark-12);
  transition: 200ms;
  border-radius: 40px;
}

.project-tag p {
  width: max-content;
}

.tag-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.tag-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.project-center img {
  border-radius: 14px;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-right {
  display: grid;
  grid-template-rows: 7fr 3fr 2.2fr;
  gap: 20px;
}

.project-right .cta {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

.project-right .cta p {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.project-right .cta:hover {
  background-color: var(--NexGen-White);
  transition: 200ms;
}

.team-member-container {
  display: flex;
  align-items: center;
  border-radius: 12px;

  gap: 40px;
}

.team-member-container h4 {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 7.2%;
}

.team-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-member {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: var(--NexGen-Orange-80);
}

.team-member img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  filter: grayscale();
}
