#projects {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
}

.projects-heading-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;

  margin-bottom: 20px;
}

.booking-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.project-left,
.project-right,
.project-center {
  border-radius: 14px;
}
