#services {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  border-radius: 24px;
}

.services-heading-container {
  padding: 50px;
  border-radius: 16px;
}

.services-container {
  padding-top: 20px;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.service {
  border-radius: 14px;
  padding: 80px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.upper-area {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.upper-service-left,
.upper-service-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.upper-service-left {
  gap: 14px;
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.service-price {
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;

  color: var(--NexGen-White);
}
