#services {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  border-radius: 24px;
}

.services-heading-container {
  padding: 50px;
  border-radius: 16px;
}

.services-container {
  padding-top: 20px;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.service {
  border-radius: 14px;
  padding: 80px;

  display: flex;
  flex-direction: column;

  gap: 50px;
}

.upper-area {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.upper-service-left,
.upper-service-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.upper-service-right {
  height: min-content;
}

.upper-service-left {
  gap: 14px;
}

.lower-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.service-price {
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;

  color: var(--NexGen-White);
}

@media (max-width: 1536px) {
  #services {
    width: calc((100% - 3rem) * 0.8);
    max-width: calc(1820px * 0.8);
    padding: calc(20px * 0.8);
    border-radius: calc(24px * 0.8);
  }

  .services-heading-container {
    padding: calc(50px * 0.8);
    border-radius: calc(16px * 0.8);
  }

  .services-container {
    padding-top: calc(20px * 0.8);
    gap: calc(20px * 0.8);
  }

  .service {
    border-radius: calc(14px * 0.8);
    padding: calc(80px * 0.8);
    gap: calc(50px * 0.8);
  }

  .upper-service-left {
    gap: calc(14px * 0.8);
  }

  .upper-service-right {
    gap: calc(8px * 0.8);
  }

  .lower-area {
    gap: calc(20px * 0.8);
  }

  .service-description {
    font-size: calc(18px * 0.8);
    line-height: 150%;
  }

  .service-price {
    font-size: calc(30px * 0.8);
    line-height: 150%;
  }
}
