#testimonials {
  width: calc(100% - 3rem);
  max-width: 1820px;
  min-width: min(1820px, calc(100% - 3rem));
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  border-radius: 20px;
}

.testimonials-heading-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;

  margin-bottom: 20px;
}

.testimonials-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: calc(100% - 120px);
}

.testimonial-top h4 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.testimonial-top p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: var(--NexGen-Grey-70);
}

.testimonial-bottom {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  background-color: var(--NexGen-Dark-12);

  padding: 30px 40px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-author-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-image-container {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: var(--NexGen-Orange-60);
}

.testimonial-image-container img {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  object-fit: cover;
}

.testimonial-author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-author-name {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}

.testimonial-author-position {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;

  color: var(--NexGen-Grey-50);
}

.testimonial-author-button {
  border: 1px solid var(--NexGen-Dark-20);
}

.testimonial-author-button img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1536px) {
  #testimonials {
    width: calc((100% - 3rem) * 0.8);
    max-width: calc(1820px * 0.8);
    padding: calc(20px * 0.8);
    border-radius: calc(20px * 0.8);
  }

  .testimonials-heading-container {
    padding: calc(50px * 0.8);
    border-radius: calc(16px * 0.8);
    margin-bottom: calc(20px * 0.8);
  }

  .testimonials-button-container {
    gap: calc(8px * 0.8);
  }

  .testimonials-container {
    gap: calc(20px * 0.8);
  }

  .testimonial-top {
    padding: calc(40px * 0.8);
    gap: calc(24px * 0.8);
    border-top-left-radius: calc(16px * 0.8);
    border-top-right-radius: calc(16px * 0.8);
    height: calc(100% - calc(120px * 0.8));
  }

  .testimonial-top h4 {
    font-size: calc(24px * 0.8);
  }

  .testimonial-top p {
    font-size: calc(18px * 0.8);
    height: calc(114px * 0.8);
  }

  .testimonial-bottom {
    padding: calc(30px * 0.8) calc(40px * 0.8);
    border-bottom-left-radius: calc(16px * 0.8);
    border-bottom-right-radius: calc(16px * 0.8);
    height: calc(120px * 0.8);
  }

  .testimonial-author-container {
    gap: calc(15px * 0.8);
  }

  .testimonial-image-container {
    width: calc(60px * 0.8);
    height: calc(60px * 0.8);
    border-radius: calc(60px * 0.8);
  }

  .testimonial-image-container img {
    width: calc(60px * 0.8);
    height: calc(60px * 0.8);
    border-radius: calc(60px * 0.8);
  }

  .testimonial-author-name {
    font-size: calc(20px * 0.8);
  }

  .testimonial-author-position {
    font-size: calc(18px * 0.8);
  }

  .testimonial-author-button img {
    width: calc(24px * 0.8);
    height: calc(24px * 0.8);
  }
}
