@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --NexGen-Black: #0f0f0f;
  --NexGen-White: #f9efec;
  --NexGen-Orange-60: #ce7d63;
  --NexGen-Orange-70: #da9e8b;
  --NexGen-Orange-80: #e7beb1;
  --NexGen-Dark-10: #1a1a1a;
  --NexGen-Dark-12: #1c1c21;
  --NexGen-Dark-15: #262626;
  --NexGen-Grey-40: #676665;
  --NexGen-Grey-50: #81807e;
  --NexGen-Grey-70: #b3b3b2;
  --NexGen-Grey-90: #e6e6e6;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--NexGen-White);
  background: var(--NexGen-Black);
  font-family: "Roboto Flex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 0px 50px 0px;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

textarea {
  resize: none;
}

.gray-box {
  background-color: var(--NexGen-Dark-10);
  transition: 200ms;
}

.gray-box:hover {
  background-color: var(--NexGen-Dark-12);

  transition: 200ms;
}

.outlined-box {
  border: 2px solid var(--NexGen-Dark-12);
}

.clickable:hover {
  cursor: pointer;
}

h1 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 78px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@media (max-width: 1536px) {
  h1 {
    font-size: calc(78px * 0.8);
    line-height: calc(150% * 0.8);
    letter-spacing: calc(0% * 0.8);
  }

  h3 {
    font-size: calc(24px * 0.8);
    line-height: calc(150% * 0.8);
    letter-spacing: calc(0% * 0.8);
  }
}
