@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --NexGen-Black: #0f0f0f;
  --NexGen-White: #f9efec;
  --NexGen-Orange-60: #ce7d63;
  --NexGen-Orange-70: #da9e8b;
  --NexGen-Orange-80: #e7beb1;
  --NexGen-Dark-10: #1a1a1a;
  --NexGen-Dark-12: #1c1c21;
  --NexGen-Dark-15: #262626;
  --NexGen-Grey-40: #676665;
  --NexGen-Grey-50: #81807e;
  --NexGen-Grey-70: #b3b3b2;
  --NexGen-Grey-90: #e6e6e6;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--NexGen-White);
  background: var(--NexGen-Black);
  font-family: Roboto-Flex, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roboto-mono {
  font-family: Roboto-Mono, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
